@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

p,
input,
textarea,
button {
  font-family: "Comfortaa", cursive;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}
